// ==========================================================================
// Foundation
// ==========================================================================

@import "foundation/_base";


// ==========================================================================
// Layout
// ==========================================================================

@import "layout/_container";
@import "layout/_footer";
@import "layout/_sidebar";
@import "layout/_header";


// ==========================================================================
// Object
// ==========================================================================

// -----------------------------------------------------------------
// Component
// -----------------------------------------------------------------

// @import "object/component/_button";


// -----------------------------------------------------------------
// Project
// -----------------------------------------------------------------

@import "object/project/_access";
@import "object/project/_branchmenu";
@import "object/project/_globalmenu";
@import "object/project/_lead";
@import "object/project/_topimage";



// -----------------------------------------------------------------
// Utility
// -----------------------------------------------------------------

// @import "object/utility/_align";






// ↓メニュー写真・説明 繰り返し部分
.archive_branch_menu_wrapper {
    margin: 0 auto;
    margin-bottom: 2rem;
    width: 95%;
    img{
        display: block;
        margin: auto;
        width: 95%;
        height: auto;
    }
    // @include breakpoint( tablet ) {
    //     display: flex;
    // }
    
}

.archive_branch_menu {
    display: block;
    margin: auto;
    padding: 1rem;
    width: 95%;
    background-color: #3C2B1C;
    color: white;
    dt {
        margin: 2rem 0;
        font-size: 2rem;
        font-weight: normal;
    }
    dd {
        font-size: 1.5rem;
        line-height: 2.5rem;
    }
    div {
        margin: 5rem auto 3rem;
        padding: 1.5rem 0;
        width: 50%;
        border-radius: 10rem;
        background-color: white;
        color: #707070;
        font-size: 1.5rem;
        text-align: center;
        cursor: pointer;
    }
}
// ↑メニュー写真・説明 繰り返し部分


// ↓スライドボタン部分
.change_button_wrapper {
    display: flex;
    justify-content: space-between;
    margin: 5rem auto 3rem;
    width: 90%;
    color: #707070;
    font-size: 1.5rem;

    @include breakpoint( tablet ) {
        display: none;
    }
}


.index_button_wrapper {
    display: none;
    margin: 10rem 0 3rem;
    @include breakpoint( tablet ) {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    div {
        margin: 0 0.5rem;
    }
    // div :second-child{
    //     font-size: 1.5rem;
    // }
}
.pointer {
    font-size: 1.5rem;
}
.index_button {
    padding: 1rem 0;
    width: 4rem;
    border: 1px solid #707070;
    background-color: white;
    color: #707070;
    font-size: 1.5rem;
    text-align: center;
    &:hover {
        color: white;
        background-color: #3C2B1C;
    }
}

// ↑スライドボタン部分



// ↓single、page冒頭説明部分
.about_single {
    display: block;
    margin: auto;
    padding: 2rem 0;
    width: 90%;
    color: #3C2A10;
    h2{
        padding: 1rem 0 3rem;
        font-size: 2.5rem;
        font-weight: normal;
    }
    p {
        font-size: 1.5rem;
        line-height: 2.5rem;
    }
    h3 {
        margin: 3rem 0;
        font-size: 1.7rem;
        font-weight: normal;
    }
    
    h4 {
        margin: 3rem 0;
        font-size: 1.5rem;
        font-weight: normal;
    }
}
// ↑single、page冒頭説明部分


.quote {
    display: block;
    margin: auto;
    padding: 2rem 1rem;
    width: 90%;
    background-color: #F5F5F5;
    font-size: 1.3rem;
    p {
        line-height: 2rem;
    }
    p + p  { // pタグ直後のpタグ
        margin: 3rem 0 2rem;
        a {
            text-decoration: underline
        }
    }
}


// ↓写真 画面いっぱい
.picture01 {
    margin: 3rem 0;
    img {
        display: block;
        margin: auto;
        width: 90%;
    }
}
// ↑写真 画面いっぱい


// ↓写真・文章 グリッド部分
.grid_contents {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    margin: 0 auto;
    padding: 2rem 0;
    width: 90%;
}
.grid_picture {
    img {
        width: 90%; 
        height: auto;
    }   
}
.grid_text {
    width: 130%;
    font-size: 1.3rem;
}
// ↑写真・文章 グリッド部分


// ↓写真 少し小さめ
.picture02 {
    margin: 3rem 0;
    img {
        display: block;
        margin: auto;
    }
}
// ↑写真 少し小さめ

// ↓写真 連続・グリッド部分
.pictures {
    margin: 3rem 0;
    img {
        display: block;
        margin: auto;
        width: 90%;
    }
}
// ↑写真 連続・グリッド部分

// ↓リスト部分
.list01 {
    font-size: 1.5rem;
    ol {
        padding: 2rem 0;
    }
    li {
        list-style-type: decimal; /* リストの左側に数字 */
        // ↑リセットCSSは、基本的にli {list-style-type: none;}が指定されおり、リストマーカーを表示するよう記載
        margin-left: 10%; /* リストの左側に余白 */
    }
}

.list02 {
    font-size: 1.5rem;
    ol {
        padding: 2rem 0;
    }
    li {
        list-style-type: none; /* リストマーカーなし */
        margin-left: 5%; /* リストの左側に余白 */
    }
}
// ↑リスト部分


// ↓タグ部分
.tag {
    display: block;
    margin: auto;
    margin-top: 2rem;
    margin-bottom: 2rem;
    padding: 3rem 0;
    width: 90%;
    height: 20rem;
    background-color: #F5F5F5;
    font-size: 1.2rem;
    p {
        margin-left: 10%;
    }
}
// ↑タグ部分


// ↓テーブル
table {
    margin: auto;
    margin-top: 2rem;
    margin-bottom: 2rem;
    width: 90%;
    height: 30rem;
    td {
        padding-left: 10%;
        font-size: 1.5rem;
    }
}
.td01 {
    width: 40%;
}
// ↑テーブル


#button{
    display: block;
    margin: auto;
    margin-top: 2rem;
    margin-bottom: 2rem;
    width: 90%;
    padding: 2.5rem;
    border: 1px solid #707070;
    border-radius: 1.5rem;
    background-color: #F2EDE9;
    font-size: 1.5rem;
}

.bold {
    margin-left: 5%;
    margin-bottom:5rem;
    font-size: 1.2rem;
}
