@charset "UTF-8";

html {
    font-size: 62.5%; // →10px
}
body{
    line-height: 1.5rem;
}
a {
    text-decoration: none;    
}


// ↓ヘッダー
// ↓メニュー ボタン・モーダル
.menu_btn{
    margin-top: 5%;
    margin-right: 5%;
    color: #707070;
    font-size: 1.3rem;
    text-align: right;
}

.menu_modal_wrapper {
    display: none;
    position: fixed;
    z-index: 10;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.8);
}

.close_modal {
    margin-bottom: 8rem;
}

.fa-times{
    position: absolute;
    top: 3%;
    left: 95%;
    transform: translate(-95%,-3%);
    color: #707070;
}

.menu {
    list-style: none;
    position: absolute;
    top: 0;
    left: 10%;
    background-color: #F2EDE9;
    padding: 5rem 3rem;
    width: 90%;
    height: 90%;
    color: #707070;
    overflow-y:scroll; /* 高さを指定しているので中身が超えた分はスクロールできるように */
  }

h3 {
    font-size: 2rem;
}
.sidemenu {
    list-style: none;
    padding: 3rem;
    font-size: 1.5rem;
    line-height: 3rem;
    li a {
        color: #707070;
    }
}
// ↑メニュー ボタン・モーダル


h1 {
    margin: 2rem 0 4rem 0;
    color: #707070;
    font-size: 3rem;
    text-align: center;    
}

// ↓検索フォーム
#searchform {
    height: 3rem;
    margin-bottom: 4rem;
    text-align: center;
}

input {
    vertical-align : middle; // 検索ボックス、検索ボタンの高さのズレを修正
}

#keywords  {  
    width: 20rem;
    margin-right: 0.5rem;
    padding: 1rem;
    border: 1px solid #707070;
    border-radius: 5%;
    background: url(images/searchform_loupe.jpg) no-repeat 8px;
}

#searchbutton{
    width: 6rem;
    padding: 1rem;
    border: 1px solid #707070;
    border-radius: 5%;
    background-color: #F2EDE9;
    font-size: 1.5rem;
}
// ↑検索フォーム
// ↑ヘッダー


// ↓トップ画像
.top_wrapper { /*親div*/
    position: relative; /*相対配置*/
    margin: 1rem 0;
    
    img {
        width:100%;
    }
    h2 {
        position: absolute; /*絶対配置*/
        top: 50%;
        left: 5%;
        transform: translate(-5%,-50%);
        margin: 0;
        padding: 0;
        color: white;
        font-size: 3rem;
        font-weight: normal;
    }
}
// ↑トップ画像


// ↓Take Out・Eat in の部分
.branch_menu {
    display: flex;
    justify-content: center;
    position: relative;
    
    img{
        width: 95%;
        margin: 1rem 0;
    }
    h2 {
        position: absolute;
        top: 5%;
        left: 8%;
        transform: translate(-8%,-5%);
        margin: 0;
        padding: 0;
        color: white;
        font-size: 3rem;
        line-height: 4rem;
    }    
}

.contents_1 {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translate(0,-50%);
    margin: 0;
    padding: 0;
    height: 23%;
    margin: 1.5rem;
    padding: 1rem;
    background-color: rgba(255,255,255,0.5);  
}
.contents_2{
    position: absolute;
    top: 85%;
    left: 0;
    transform: translate(0,-73%);
    margin: 0;
    padding: 0;
    height: 23%;
    margin: 1.5rem;
    padding: 1rem;
    background-color: rgba(255,255,255,0.5);
}

dt {
    margin: 1.5rem 0;
    font-size: 2rem;
    font-weight: normal;
}
dd {
    font-size: 1.5rem;
    line-height: 2rem;
}
// ↑Take Out・Eat in の部分


// ↓map部分
.access {
    position: relative;
    img {
        margin-top: 3rem;
        width: 100%;
        height: 60rem;
        object-fit: cover;
        vertical-align: bottom; // divで囲んだimgタグ 下の余白を消す
    }  
}

.map_example {
    position: absolute;
    top: 0;
    left: 0;
    margin: 0;
    padding: 0;
    height: 60rem;
    margin: 3rem auto 0;
    padding: 3rem;
    background-color: rgba(121,121,121,0.5);
    color: white;
    h2 {
        margin: 2rem 0;
        font-size: 3rem;
        font-weight: normal;
        line-height: 4rem;
    }
    p {
        font-size: 1.5rem;
        line-height: 3rem;
    }

}
// ↑map部分


footer {
    height: 15rem;
    padding: 1rem 0;
    background-color: #9D8670;
    color: white;
    text-align: center;
    ul li{
        display: inline;
        font-size: 1.8rem;
        line-height: 8rem;
        a {
            color: white;
        }
    }
}
.copyright {
    margin-top: 3rem;
}