@charset "UTF-8";

html {
    font-size: 100%;
}
a {
    text-decoration: none;
    
}



.top_wrapper { /*親div*/
    position: relative; /*相対配置*/
    img {
        width:100%;
    }
    p {
        position: absolute; /*絶対配置*/
        top: 50%;
        left: 5%;
        transform: translate(-5%,-50%);
        margin: 0;
        padding: 0;
        color: white;
        font-size: 2rem; 
    }
}


@mixin menu {
    position: relative;
    img{
        width: 100%;
        margin: 10px auto;
    }
    h2 {
        position: absolute;
        top: 3%;
        left: 5%;
        transform: translate(-5%,-3%);
        margin: 0;
        padding: 0;
        color: white;
        font-size: 2rem; 
    }
    
}

.takeOut {
    @include menu;
}

.eatIn {
    @include menu;
}

.contents_1 {
    position: absolute;
    top: 50%;
    background-color: rgba(255,255,255,0.5);
    margin: 10px 10px;
}
.contents_2{
    position: absolute;
    top: 73%;
    background-color: rgba(255,255,255,0.5);
    margin: 10px 10px;
}


.access {
    position: relative;
    iframe {
        width: 100%;
        margin: 10px auto 0px;
    }
    .map_example {
        position: absolute;
        top: 0;
        left: 0;
        margin: 0;
        padding: 0;
        height: 500px;
        margin: 10px auto 0px;
        padding: 0 10px;
        background-color: rgba(121,121,121,0.5);
        color: white;
        h2 {
            font-size: 2rem;
        } 
    }
    
}

footer {
    background-color: #9D8670;
    text-align: center;
    margin: 0;
    padding: 10px 0;
    color: white;
    ul li{
        display: inline;
        // margin-right: 10px; 右寄りはどうすれば解消される？
        a {
            color: white;
        }
    }
}